services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  server:
    build:
      context: ./apps/server
      dockerfile: ./Dockerfile
    restart: always
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/database_db?schema=public"
      REDIS_URL: "redis://redis:6379"
    ports:
      - "3000:3000"

volumes:
  postgres_data:
